<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784065436802-s2h3hkhj5nhu6ffnntfvdmg6h7cj8rng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784065436802-s2h3hkhj5nhu6ffnntfvdmg6h7cj8rng</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784065436802-h1tv9bneabb5euvkvla7ll5otjmta85i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt30dAMN4olZ1kfrwX2NDElWzMy2JFQkM</string>
	<key>GCM_SENDER_ID</key>
	<string>784065436802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alihaidar.first.abutalibClinic</string>
	<key>PROJECT_ID</key>
	<string>abutalib-clinic-169ee</string>
	<key>STORAGE_BUCKET</key>
	<string>abutalib-clinic-169ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784065436802:ios:177dd46bacf8c42de2289b</string>
</dict>
</plist>